<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.png">
	<title>Communication Portal</title>
</head>
<body>
{{#is_loggedin}}
Welcome address {{address}}
{{/is_loggedin}}
{{^is_loggedin}}
Login
<a href="/doctor_login">Doctor</a> or <a href="/patient_login">Patient</a>
<br>
<br>
Register
<a href="/doctor_register">Doctor</a> or <a href="/patient_register">Patient</a>
{{/is_loggedin}}
</form>
</body>
</html>
