<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.png">
	<title>Communication Portal</title>
</head>
<body>
	{{#is_loggedin}}

	<p>To join a communication, share @{{username}} to get started!</p>

	<p>To start a new communication, enter the username here:</p>

	<br>
	<form method="GET" action="/chat">
		<label for="username">username: </label>
		<input type="text" name="username" id="username">
	</form>
	{{/is_loggedin}}
	{{^is_loggedin}}

	<h2>Register</h2>
	<a href="/doctor_register">Doctor</a> or <a href="/patient_register">Patient</a>
	{{/is_loggedin}}
	</form>
</body>
</html>
